<div class="call-container" [ngClass]="{'video-call': isVideo, 'audio-call': !isVideo}">
  <h3>Appel {{ isVideo ? 'vidéo' : 'audio' }} de {{ data.callerName }}</h3>

  <ng-container *ngIf="isVideo">
    <video #localVideo autoplay muted playsinline class="local-video"></video>
    <video #remoteVideo autoplay playsinline class="remote-video"></video>
  </ng-container>

  <ng-container *ngIf="!isVideo">
    <img [src]="data.callerAvatar" class="avatar-large">
    <img [src]="data.calleeAvatar" class="avatar-large">
  </ng-container>

  <div class="actions">
    <button mat-button color="primary" (click)="accept()">Accepter</button>
    <button mat-button color="warn"    (click)="decline()">Refuser</button>
  </div>
</div>
