<table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="caseNumber">
      <th mat-header-cell *matHeaderCellDef> Numéro </th>
      <td mat-cell *matCellDef="let tc"> {{tc.caseNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let tc"> {{tc.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let tc"> {{tc.executionDate | date:'short'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let tc">
        <button mat-icon-button color="primary" (click)="view.emit(tc)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="edit.emit(tc)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete.emit(tc)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  