<div class="call-container" [ngClass]="{'video-call': data.isVideo, 'audio-call': !data.isVideo}">
    <h3>{{ status==='calling' ? 'Appel en cours...' 
          : status==='answered' ? 'Appel établi' 
          : 'Aucun réponse' }} {{ data.calleeName }}</h3>
  
    <ng-container *ngIf="data.isVideo">
      <video #localVideo autoplay muted playsinline class="local-video"></video>
      <video #remoteVideo autoplay playsinline class="remote-video"></video>
    </ng-container>
  
    <ng-container *ngIf="!data.isVideo">
      <img [src]="data.calleeAvatar" class="avatar-large">
    </ng-container>
  
    <div class="actions">
      <button mat-button color="warn" (click)="end()">Terminer</button>
    </div>
  </div>
  