<!-- src/app/dashboard/project-files/file-viewer-dialog.component.html -->
<h2 mat-dialog-title>Éditeur : {{ data.file.name }}</h2>

<mat-dialog-content class="editor-content">
  <ng-container *ngIf="isText; else binaryTpl">
    <ngx-codemirror
      class="editor-container"
      [(ngModel)]="content"
      [options]="editorOptions">
    </ngx-codemirror>
  </ng-container>

  <ng-template #binaryTpl>
    <div class="media-preview">
      <ng-container [ngSwitch]="data.file.mimeType.split('/')[0]">
        <img *ngSwitchCase="'image'" [src]="blobUrl" />
        <video *ngSwitchCase="'video'" [src]="blobUrl" controls></video>
        <audio *ngSwitchCase="'audio'" [src]="blobUrl" controls></audio>
        <object *ngSwitchDefault [data]="blobUrl" [type]="data.file.mimeType">
          <a [href]="blobUrl" download>{{ data.file.name }}</a>
        </object>
      </ng-container>
    </div>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-icon-button color="warn" (click)="delete()" matTooltip="Supprimer">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button color="primary" *ngIf="isText" (click)="save()" matTooltip="Enregistrer">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-button (click)="close()">Fermer</button>
</mat-dialog-actions>
