<div class="noti-detail">
    <strong>name:</strong><strong>{{ notification?.title }}</strong>
    <p>Created: {{ notification.createdAt }} </p>

    <p>{{ notification.message }}</p>

    <!-- Task-related content -->
    <div *ngIf="notification.relatedTask">
        <p class="notif-message">By: {{ notification.relatedTask.assignedBy?.nom }} {{ notification.relatedTask.assignedBy?.prenom }}</p>
        <p class="notif-message">Task: {{ notification.relatedTask.name }}</p>
        <p class="notif-message">{{ notification.relatedTask.description }}</p>
        <button (click)="viewTaskDetails(notification.relatedTask)">Click here for details</button>
    </div>

    <!-- Project-related content -->
    <div *ngIf="notification.relatedProject">
        <p class="notif-message">Nom du projet: {{ notification.relatedProject.name }}</p>
        <p class="notif-message">Type: {{ notification.relatedProject.type }}</p>
        <p class="notif-message">Description: {{ notification.relatedProject.description }}</p>
        <p class="notif-message">Status: {{ notification.relatedProject.status }}</p>
        <button (click)="viewProjectDetails(notification.relatedProject)">Click here for details</button>

    </div>

    <!-- Chat message content -->
    <div *ngIf="notification.chatMessage">
        <p class="notif-message">By: {{ notification.chatMessage.sender?.nom }} {{ notification.chatMessage.sender?.prenom }}</p>
        <p class="notif-message">Message: {{ notification.chatMessage.message }}</p>
        <button (click)="viewMessageDetails(notification.chatMessage)">View Discussion</button>
    </div>
</div>