<div class="dashboard-container">

  <!-- Reclamations -->
  <div class="section" *ngIf="isSuperviser()">
    <h2>Réclamations</h2>
    <div class="content-box">
    <div class="complaint-card" *ngFor="let complaint of complaints" (click)="rootToProject(complaint.projectId)">
      <h3>{{ complaint.project.name }}</h3>
      <p>reason : {{ complaint.reason }}</p>
      <small>Submitted by User #{{ complaint.complainerId }}</small>
    </div>
  </div>
  </div>

  <!-- Pause Requests -->
  <div class="section" *ngIf="isSuperviser()">
    <h2>Pause Requests</h2>
   <div class="content-box">
  <div class="request-card" *ngFor="let request of pauseRequests" (click)="rootToProject(request.projectId)">
    <p matLine>Reason :{{ request.reason }}</p> 
    <p matLine>{{ request.project.name }}</p>
    <span matLine
          class="status"
          [class.approved]="request.status === 'APPROVED'"
          [class.rejected]="request.status === 'REJECTED'"
          [class.pending]="request.status === 'PENDING'">
      {{ request.status }}
    </span>
  </div>
</div>

  </div>

  <!-- Add Meeting Button & Project Dropdown -->
   <div class="section">
    <h2>My Meetings</h2>
  <button mat-raised-button color="primary" class="add-meeting-button" (click)="showProjects()">Add a Meeting</button>
  
  <div *ngIf="showProjectList" class="project-list-dropdown">
    <mat-label>Sélectionner un projet</mat-label>

  <mat-select   (selectionChange)="selectProject($event.value)"
      placeholder="Sélectionner un projet" multiple>
              <mat-option *ngFor="let project of projects"  [value]="project">
                {{ project.name }}
              </mat-option>
          </mat-select>
    </div>
  <!-- My Meetings -->
  
      <div class="content-box">
    <div class="meeting-card" *ngFor="let meeting of meetings" (click)="rootToProject(meeting.project.id)">
      <h4>{{ meeting.subject }}</h4>
      <p>Date : {{ meeting.date | date:'mediumDate' }} à {{ meeting.time }}</p>
      <p>Description : {{ meeting.description }}</p>
      <p>Project : {{ meeting.project.name }}</p>
    </div>
  </div>
</div>
</div>
  
        <div class="mbsc-form-group">
          <div class="mbsc-form-group-title"></div>
          <!--mbsc-datepicker [controls]="['calendar']" display="inline"></mbsc-datepicker-->

          <mbsc-datepicker [controls]="['calendar']" display="inline" [colors]="coloredDays" [labels]="labelDays"
            ></mbsc-datepicker>
        </div>
    
<!---->